<div class="container">
  <h3 mat-dialog-title>Edit Item</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">


    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Serial" [(ngModel)]="data.serial" name="serial">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="text" matInput class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput type="number" class="form-control" placeholder="Price" [(ngModel)]="data.price" name="price" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>



    <div class="form">
      <mat-form-field color="accent">
        <input matInput type="date" class="form-control" placeholder="Purchase Date" [(ngModel)]="data.purchase_date" name="purchase_date" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
