<div class="container">
  <h3 mat-dialog-title>Change ownership</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <div class="form">
      <mat-form-field color="accent">
      <select type="search" matInput class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required>
          <option value="">a</option>
          <option value="">b</option>
          <option value="">c</option>
          <option value="">d</option>
        </select>
      </mat-form-field>
    </div> -->

    <mat-form-field>
      <mat-select placeholder="Owner Email" name="owner" [(ngModel)]="data.user_id">
        <mat-option [value]="-1">
          -
        </mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.email}}
        </mat-option>

      </mat-select>
    </mat-form-field>


    <!-- <div class="form">
      <mat-form-field color="accent">
        <textarea matInput class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
