<div class="container">
  <h3 mat-dialog-title>Change ownership</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <mat-form-field>
      <mat-select placeholder="Owner Email" name="owner" [(ngModel)]="data.user_id">
        <mat-option [value]="-1">
          -
        </mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{user.email}}
        </mat-option>

      </mat-select>
    </mat-form-field> -->


    <div class="form">
      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Owner Name" [(ngModel)]="data.owner" name="owner">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
